#menu-pc {
    width: 100vw;
    min-height: 8vh;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/* Animação */
.menu-off {
    margin-right: 100vw;
}

#menu-pc ul {
    box-sizing: border-box;
    margin: 0 50px 0 50px;
    display: flex;
    justify-content: center;
    
    column-gap: 10vw;
    
    list-style: none;
}

.logo-jj {
    object-fit: cover;
    width: 70px;
    position: absolute;
    z-index: 20;
    left: 113.328px;

  }

.link-item {
    color: white;
    font-family: 'infini';
    text-decoration: none;
}

.link-item:hover {
    animation: rgb 1.5s linear infinite;
}